@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}


body{
    background-color: #1D232A;
    font-family: 'Open Sans','icones' , sans-serif;
    color: #FFFFFF;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);

}

.cabecalho__menu i::before{
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notificacao i::before{
    content: "\e906";
    font-size: 24px;
}

.cabecalho__logo{
    width: 40px;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
    transition: 0.25s;
    
}

.menu-lateral--ativo{
    left: 0;
    transition: .25s;
}

.menu-lateral__logo{
    align-self: center;
    width: 118px;
    padding: 16px;
}

.menu-lateral__link{
    height: 64px;
    color: #95999C;
    display: flex;
    padding-left: 64px;
    align-items: center;
}

.menu-lateral__link--ativo{
    color: #ffffff;
    padding-left: 56px;
    border-left: 8px solid #ffffff;
}

.inicio::before{
    content: "\e902";
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;

}

.videos::before{
    content: "\e90e";
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.picos::before{
    content: "\e909";
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.integrantes::before{
    content: "\e903";
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.camisas::before{
    content: "\e900";
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.pinturas::before{
    content: "\e90a";
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.principal{
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.titulo-pagina{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.cartao{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C343A;
}

.cartao--destaque{
    margin-bottom: 16px;
}

.cartao__conteudo{
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.cartao__destaque{
    grid-column: span 2;
}

.cartao__titulo{
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao__perfil{
    color: #95999C;
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao__info{
    display: flex;
    align-items: center;
    color: #95999C;
}

.cartao__conteudo__info--tempo::before{
    content: "\e90c";
    margin-right: 8px;
}

.cartao__conteudo__info--visualizacao::before{
    content: "\e90f";
    margin-right: 8px;
}

.cartao__botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.cartao__botao--play::before{
    content: "\e90b";
    font-size: 24px;
}

.cartao__botao--destaque{
    width: 100%;
    grid-column: span 2;
}

.cartao__botao--destaque::before{
    margin-right: 8px;
}

.secao{
    display: grid;
    gap: 16px;
}

.secao__titulo{
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao__conteudo__info--cifrao::before{
    content: "\e905";
}

.cartao__botao--compra::before{
    content: "\e901";
    font-size: 24px;
}



/*Css Picos*/

.mapa--picos{
    display: grid;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 16px;
}

.cartao__botao--picos::before{
    content: "\e908";
}

/*Css Pico*/

.imagens-pico{
    width: 100%;
    border-radius: 15px;
}

.secao--pico{
    padding: 24px 16px;
    display: grid;
    gap: 16px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.texto--pico{
    font-size: 1.2rem;
    line-height: 2.0rem;
    font-weight: 400;

}

.mapa--pico{
    width: 100%;
}